.post-main {
    display: grid;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
        ". . ."
        ". main ."
        ". . .";
}

.post-section {
    grid-area: main;
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 85vw;
    border: solid rgba(27, 27, 27, 0.829);
    border-radius: 8px;
    margin: 0px;
    padding: 0px;
    font-size: 1.5vh;
}

.post-form {
    height: 38vh;
    margin-top: 7vh;
}

.address, .title, .picture-link{
    border: none;
    color: white;
    border-bottom: solid 2px rgba(27, 27, 27, 0.829);
    background-color: rgba(2, 0, 0, 0);
    font-size: 1.5vh;
    width: 20vw;
    height: 4vh;
    margin: 2px;
}

textarea {
    border: none;
    color: white;
    border-bottom: solid 2px rgba(27, 27, 27, 0.829);
    background-color: rgba(2, 0, 0, 0);
    font-size: 1.5vh;
    width: 41vw;
    height: 4vh;
    margin: 2px;
}

.main-info {
    display: flex;

}

.post-img {
    height: 18vh;
    width: 18vh;
    border-radius: 8px;
}

.img {
    flex: 1;
    display: flex;
    justify-content: center;
    border: none;
}

.no-img {
    margin-top: 5.5vh;
}

.select {
    display: flex;
    justify-content: center;
}

.form-select {
    margin: 3px;
}

.upload-select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 0px;
    background-position: right center;
    color: rgb(153, 149, 149);
    border: none;
    border-bottom: solid 2px rgba(27, 27, 27, 0.829);
    background-color: rgba(27, 27, 27, 0.829);
    font-size: 1.5vh;
    width: 20vw;
    height: 4vh;
    padding-left: 3px;
}

.post-option {
    color: white;
}

.post-option:disabled {
    color: rgb(179, 176, 176);
}

.button-section {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.post-button {
    background-color: rgba(2, 0, 0, 0);
    border: solid 1px white;
    border-radius: 8px;
    color: white;
}

@media only screen and (min-width: 1025px) {
    .post-section {
        width: auto;
        height: 70vh;
    }

    .upload-select {
        width: 7vw;
        height: 5vh;
        font-size: 2vh;
    }

    .address, .title, .picture-link{
        width: 7vw;
        height: 5vh;
        font-size: 2vh;
    }

    textarea {
        width: 14vw;
        height: 5vh;
        font-size: 2vh;
    }

    .post-button {
        width: 15%;
        font-size: 3vh;
        padding: 5px;
    }
    .no-img {
        font-size: 2vh;
    }
}