.overview-section {
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
}

.post-header {
    background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    height: 4.5vh;
}

.filter {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 0px;
    background: url(http://dropdown/arrow/url/) no-repeat;
    background-position: right center;
    color: rgb(153, 149, 149);
    border: none;
    border-bottom: solid 2px rgba(27, 27, 27, 0.829);
    border-left: solid 2px black;
    background-color: rgba(27, 27, 27, 0.829);
    font-size: 1.5vh;
    width: 20vw;
    height: 4vh;
    padding-left: 3px;
}

.city-search {
    border: none;
    color: white;
    border-bottom: solid 2px rgba(27, 27, 27, 0.829);
    background-color: rgba(2, 0, 0, 0);
    font-size: 1.5vh;
    width: 19vw;
    height: 3.8vh;
    margin: 2px;
}

button.info-button {
    background-color: rgba(2, 0, 0, 0);
    color: rgba(255, 255, 255, 0.521);
    border-style: none;
}

.search-button {
    background-color: white;
    margin-left: 5px;
    width: 20vw;
    height: 3.8vh;
    font-size: 1.8vw;
    background-color: rgba(2, 0, 0, 0);
    border: solid 1px white;
    border-radius: 8px;
    color: white;
}

.post-item {
    padding-bottom: 10px;
    background-color: black;
}
