.overview-section {
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
}

.post-header {
    background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    height: 4.5vh;
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 0px;
    background: url(http://dropdown/arrow/url/) no-repeat;
    background-position: right center;
    background-color: white;
    color: #000000;
    border: 1px solid #000000;
    width: 19vw;
    height: 3vh;
    font-size: 1.8vw;
}

input {
    width: 19vw;
    height: 3vh;
    font-size: 1.8vw;
}

button.info-button {
    background-color: rgba(2, 0, 0, 0);
    color: rgba(255, 255, 255, 0.521);
    border-style: none;
}

.search-button {
    background-color: white;
    margin-left: 5px;
    width: 20vw;
    height: 3vh;
    font-size: 1.8vw;
    border-style: none;
    border-radius: 5px;
}

.post-item {
    padding-bottom: 10px;
    background-color: black;
}
