.center {
    display: flex;
    justify-content: center;
}

.register-main {
    height: 100%;
    width: 99%;
    max-width: 700px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 2% 10% 76% 10% 2%;
    grid-template-rows: .5% 1% fit-content(60%) 1% 10%;
    grid-template-areas: 
        ". . . . ."
        ". . . . ."
        ". slider slider slider ."
        ". . . . ."
        ". . signUp . .";
}

.slider {
    height: 100%;
    grid-area: slider;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 8% 2% 75% 2% 10%;
    grid-template-areas: 
        "title title title"
        ". . ."
        "buttonLeft img buttonRight"
        ". . ."
        "cap cap cap";
}

.register-title {
    grid-area: title;
    text-align: center;
    background-color: rgb(44, 43, 43);
    padding: 1.6%;
    border-radius: 8px;
}

.title-text {
    height: 100%;
    font-size: 175%;
    margin: 0;
}

.interface-img {
    grid-area: img;
    height: 100%;
    border: none;
}

.left-button {
    grid-area: buttonLeft;
    padding: 0;
    border: none;
    background-color: rgba(2, 0, 0, 0);
    color: white;
}

.right-button {
    grid-area: buttonRight;
    padding: 0;
    border: none;
    background-color: rgba(2, 0, 0, 0);
    color: white;
}

.caption {
    grid-area: cap;
    font-size: .9em;
    text-align: center;
    height: fit-content;
    padding: 3px;
    background-color: rgb(44, 43, 43);
    border-radius: 8px;
    overflow: auto;
}

.banner {
    text-align: center;
    grid-area: banner;
}

.signup-section {
    grid-area: signUp;
    text-align: center;
}

.signup-input {
    border: none;
    color: white;
    border-bottom: solid 2px rgb(61, 61, 61);
    background-color: rgba(2, 0, 0, 0);
    font-size: 100%;
    width: 40vw;
    max-width: 400px;
    height: 4.5vh;
    margin-bottom: 10px;
}

.signup-input::placeholder {
    font-size: 80%;
}

.password-label {
    font-size: 80%;
    background-color: rgb(44, 43, 43);
    padding: 1%;
    border-radius: 8px;
}

.signup-buttons {
    border: none;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.signup-button, .login-button-register, .post-button-register {
    background-color: rgba(2, 0, 0, 0);
    border: solid 1px white;
    border-radius: 8px;
    color: white;
    padding: 10px auto;
}

.login-button-register, .post-button-register {
    width: 100%;
}

h2 {
    font-size: x-large;
}

@media only screen and (max-width: 370px) {
    .register-title {
        font-size: 80%;
    }

    .slider {
        height: 85%;
    }
}

@media only screen and (min-width: 800px) {
    .slider {
        height: 100%;
    }

    .signup-input {
        font-size: 100%;
        padding: 3px;
        line-height: 90%;
    }

    .signup-input::placeholder {
        font-size: 100%;
    }

    .caption {
        font-size: 1em;
    }

    .signup-button, .login-button-register, .post-button-register  {
        font-size: 120%;
    }

    .login-button-register, .post-button-register {
        width: 100%;
    }
}

@media (prefers-color-scheme: light) {
    .left-button {
        font-weight: bold;
        color: black;
    }
    
    .right-button {
        color: black;
    }

    .register-title {
        background-color: rgb(240, 191, 191);
    }

    .caption {
        background-color: rgb(240, 191, 191);
    }

    .signup-input {
        color: black;
    }

    .signup-button, .login-button-register, .post-button-register  {
        border-color: black;
        color: black;
    }

    .password-label {
        color: black;
        background-color: rgb(240, 191, 191);
    }
}